# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_GATEWAY_URL=https://your-worker.your-subdomain.workers.dev
SUPABASE_SERVICE_ROLE_KEY=
OTP_SECRET=
DATABASE_URL=

# Redis Configuration (Redis Cloud)
REDIS_URL=redis://default:your-password@redis-14853.crce262.us-east-1-1.ec2.cloud.redislabs.com:14853

# MongoDB Configuration (MongoDB Atlas)
MONGODB_URI=mongodb+srv://username:password@zamschoolos.8luqlsw.mongodb.net/zamschool

# SMTP Email Configuration (Gmail Example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=your-email@gmail.com
